.answer-card-container {
  margin-bottom: 20px !important;
  width: 100%;
  height: 240px;
  overflow: hidden;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.answer-card {
  background-color: #fff;
  padding: 50px;
  height: 150px;
  width: auto;
  overflow: hidden;
}

.answer-card-confidence {
  padding: 40px;
  padding-left: 50px;
  float: left;
}

.answer-card-source-url {
  padding: 40px;
  padding-left: 50px;
  float: right;
}