<div class="row">
    <h3>What is your Father's full name?</h3>
    <form>
        <div class="row">
            <div class="large-6 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Given Name</span>
                </div>
                <div class="small-9 columns">
                  <input type="text" placeholder="Mary">
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
              <div class="row collapse postfix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Last Name</span>
                </div>
                <div class="small-9 columns">
                  <input type="text" placeholder="Smith">
                </div>
              </div>
            </div>        
        </div>
    </form>
</div>

<div class="row">
    <h3>When was your Father born?</h3>
    <form>
        <div class="row">
            <div class="large-6 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Year</span>
                </div>
                <div class="small-9 columns">
                  <input type="number" placeholder="1959">
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
              <div class="row collapse postfix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Month</span>
                </div>
                <div class="small-9 columns">
                  <input type="number" placeholder="4">
                </div>
              </div>
            </div>      
        </div>
        <div class="row">
            <div class="large-6 columns">
              <div class="row collapse postfix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Day</span>
                </div>
                <div class="small-9 columns">
                  <input type="number" placeholder="10">
                </div>
              </div>
            </div>        
        </div>
    </form>
</div>

<div class="row">
    <h3>Where was your Father born?</h3>
    <form>
        <div class="row">
            <div class="large-6 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Country</span>
                </div>
                <div class="small-9 columns">
                  <input type="text" placeholder="United States">
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Province/State</span>
                </div>
                <div class="small-9 columns">
                  <input type="text" placeholder="California">
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">City</span>
                </div>
                <div class="small-9 columns">
                  <input type="text" placeholder="Los Angeles">
                </div>
              </div>
            </div>
        </div>            
    </form>
</div>

<div class="row">
    <h3>What is your Father's martial status?</h3>
    <form>
        <div class="row">
            <div class="large-6 columns">
                <div class="small-9 columns">
                    <input type="radio" name="martial_status" value="married" id="married_status">
                    <label for="married_status">Married</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <div class="small-9 columns">
                    <input type="radio" name="martial_status" value="single" id="single_status">
                    <label for="single_status">Single</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-6 columns">
                <div class="small-9 columns">
                    <input type="radio" name="martial_status" value="divorced" id="divorced_status">
                    <label for="divorced_status">Divorced</label>
                </div>
            </div>
        </div>        
    </form>    
</div>

<div class="row">
    <h3>What is your Father's email?</h3>
    <form>
        <div class="row">
            <div class="large-6 columns">
              <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                  <span class="prefix">Email</span>
                </div>
                <div class="small-9 columns">
                  <input type="text" placeholder="Value">
                </div>
              </div>
            </div>
        </div>      
    </form>
</div>

<div class="row">
  <div class="large-6 columns">
    <a href="#upload-panel" class="button" ng-click="goToUploadTab()">Done</a>
  </div>
</div>