<!doctype html>
<html class="no-js" lang="en" ng-app="stepsApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>ContraJD</title>
        <link rel="stylesheet" href="../static/css/foundation.css" />
        <link rel="stylesheet" href="static/css/steps.css" />
        <link rel="stylesheet" href="../static/css/master.css" />
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/slidebars.min.css">
        <script src="../static/js/vendor/modernizr.js"></script>
    </head>

    <body>
        <div class="top sticky">
        <nav class="top-bar sticky" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">ContraJD</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>
            <section class="top-bar-section">
              <!-- Right Nav Section -->
              <ul class="right">
                  <li class="active"><a href="#">Save</a></li>
                  <li class="has-dropdown">
                      <a href="#">Demo User</a>
                      <ul class="dropdown">
                          <li><a href="#">Profile Settings</a></li>
                          <li class="active"><a href="#">Sign Out</a></li>
                      </ul>
                  </li>
                  <li>
                    <a href="#" class="sb-toggle-right toggle-watson">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                  </li>
              </ul>
            </section>
        </nav>
        </div>

        <div id="sb-site">
            <dl class="tabs vertical medium-2 columns" data-tab>
                <dd class="active"><a href="#intro-panel">Intro</a></dd>
                <dd><a href="#personal-info-panel">Personal Info</a></dd>
                <dd><a href="#eligibility-panel">Eligibility</a></dd>
                <dd><a href="#pick-program-panel">Pick Program</a></dd>
                <dd><a href="#walkthrough-panel">Walkthrough</a></dd>
                <dd><a href="#upload-panel">Upload Documents</a></dd>
                <dd><a href="#review-panel">Review</a></dd>
                <dd><a href="#file-panel">File</a></dd>
            </dl>
            <div class="medium-9 columns">
                <div class="tabs-content">
                    <div class="content active" id="intro-panel">
                        <p>This is the mother fucking intro</p>
                    </div>
                    <div class="content" id="personal-info-panel">
                        <p>Give me some of your mother fucking info</p>
                    </div>
                    <div ng-controller="WalkthroughController" class="content" id="walkthrough-panel">
                        <div class="row">
                            <div class="large-6 columns">
                                <ul class="left">
                                    <li ng-show="hasBack"><a class="tiny button" ng-click="changePage('left')">Back</a></li>
                                    <li>Step {{ currentPage + 1}} / {{ maxPages }}</li>
                                </ul>
                                <ul class="right">
                                    <li ng-show="hasNext"><a class="tiny button" ng-click="changePage('right')">Next</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <div ng-include="templateUrl"></div>
                            </div>
                        </div>
                    </div>
                    <div class="content" id="upload-panel">
                        <h1>Upload Documents</h1>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="AnswerCardController" class="sb-slidebar sb-right sb-style-overlay sb-width-wide">
            <div class="watson-panel">
                <div class="row">
                    <div class="large-12 columns">
                        <h3>Ask Watson</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="large-10 columns">
                       <input class="contrajd-input-box" type="text" name="" placeholder="For example: How do I immigrate to Canada?" ng-model="pickedSuggestion">
                    </div>
                    <div class="large-2 columns">
                        <a ng-click="askWatson(pickedSuggestion)" href="javascript:void(0);" class="button postfix">Ask</a>
                    </div>
                </div>
                <div class="row">
                    <div  class="large-12 columns">
                        <div ng-repeat="answer in answerCards" my-answers="answer"></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../static/js/vendor/jquery.js"></script>
        <script src="../static/js/foundation.min.js"></script>
        <script src="../static/js/vendor/slidebars.min.js"></script>
        <script src="../static/js/vendor/angular.js"></script>
        <script src="../static/js/ng_modules/answerCardController.js"></script>
        <script src="static/js/stepsApp.js"></script>
        <script src="static/js/walkthroughController.js"></script>
        <script>
            $(document).foundation();
            $.slidebars();
        </script>
    </body>
</html>
