<!doctype html>
<html class="no-js" lang="en" ng-app="stepsApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>ContraJD</title>
        <link rel="stylesheet" href="../static/css/foundation.css" />
        <link rel="stylesheet" href="static/css/steps.css" />
        <link rel="stylesheet" href="../static/css/master.css" />
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/slidebars.min.css">
        <script src="../static/js/vendor/modernizr.js"></script>
    </head>

    <body>
        <div class="top sticky">
            <nav class="top-bar sticky" data-topbar role="navigation">
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="#">ContraJD</a></h1>
                    </li>
                    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
                </ul>
                <section class="top-bar-section">
                  <!-- Right Nav Section -->
                  <ul class="right">
                      <li class="active"><a href="#" class="contrajd-save">Save</a></li>
                      <li class="has-dropdown">
                          <a href="#">User</a>
                          <ul class="dropdown">
                              <li><a href="#">Profile Settings</a></li>
                              <li class="active"><a href="#">Sign Out</a></li>
                          </ul>
                      </li>
                      <li>
                        <a href="#" class="sb-toggle-right toggle-watson">
                            <i class="fa fa-search"></i>
                        </a>
                      </li>
                  </ul>
                </section>
            </nav>
        </div>

        <div id="sb-site">
            <dl class="tabs vertical medium-2 columns" data-tab>
                <dd class="active"><a href="#intro-panel">Intro</a></dd>
                <dd><a href="#personal-info-panel">Personal Info</a></dd>
                <dd><a href="#program-panel">Pick Program</a></dd>
            </dl>
            <div class="medium-9 columns">
                <div class="tabs-content">
                    <div class="content active" id="intro-panel">
                        <h3>Introduction</h3>
                        <p>Answer a few simple questions and we will be able to </p>
                        <p>If you have any questions or don't know what to ask, Watson can assist you with free professional assistance.</p>
                        <div class="row">
                            <a href="#upload-panel" class="tiny button" onclick="goToTab('#personal-info-panel')">Next</a>
                        </div>                          
                    </div>
                    <div class="content" id="personal-info-panel">
                        <div class="row">
                            <div class="large-12 columns">
                                <div class="row">
                                    <h3>What is your name?</h3>
                                    <form>
                                        <div class="row">
                                            <div class="large-6 columns">
                                              <div class="row collapse prefix-radius">
                                                <div class="small-3 columns">
                                                  <span class="prefix">Given Name</span>
                                                </div>
                                                <div class="small-9 columns">
                                                  <input type="text" placeholder="John">
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="large-6 columns">
                                              <div class="row collapse postfix-radius">
                                                <div class="small-3 columns">
                                                  <span class="prefix">Last Name</span>
                                                </div>
                                                <div class="small-9 columns">
                                                  <input type="text" placeholder="Smith">
                                                </div>
                                              </div>
                                            </div>        
                                        </div>
                                    </form>
                                </div>

                                <div class="row">
                                    <h3>When were you born?</h3>
                                    <form>
                                        <div class="row">
                                            <div class="large-6 columns">
                                              <div class="row collapse prefix-radius">
                                                <div class="small-3 columns">
                                                  <span class="prefix">Year</span>
                                                </div>
                                                <div class="small-9 columns">
                                                  <input type="number" placeholder="1989">
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="large-6 columns">
                                              <div class="row collapse postfix-radius">
                                                <div class="small-3 columns">
                                                  <span class="prefix">Month</span>
                                                </div>
                                                <div class="small-9 columns">
                                                  <input type="number" placeholder="10">
                                                </div>
                                              </div>
                                            </div>      
                                        </div>
                                        <div class="row">
                                            <div class="large-6 columns">
                                              <div class="row collapse postfix-radius">
                                                <div class="small-3 columns">
                                                  <span class="prefix">Day</span>
                                                </div>
                                                <div class="small-9 columns">
                                                  <input type="number" placeholder="31">
                                                </div>
                                              </div>
                                            </div>        
                                        </div>
                                    </form>
                                </div>

                                <div class="row">
                                    <h3>Where were you born?</h3>
                                    <form>
                                        <div class="row">
                                            <div class="large-6 columns">
                                              <div class="row collapse prefix-radius">
                                                <div class="small-3 columns">
                                                  <span class="prefix">Country</span>
                                                </div>
                                                <div class="small-9 columns">
                                                  <input type="text" placeholder="United States">
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="large-6 columns">
                                              <div class="row collapse prefix-radius">
                                                <div class="small-3 columns">
                                                  <span class="prefix">Province/State</span>
                                                </div>
                                                <div class="small-9 columns">
                                                  <input type="text" placeholder="California">
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="large-6 columns">
                                              <div class="row collapse prefix-radius">
                                                <div class="small-3 columns">
                                                  <span class="prefix">City</span>
                                                </div>
                                                <div class="small-9 columns">
                                                  <input type="text" placeholder="Los Angeles">
                                                </div>
                                              </div>
                                            </div>
                                        </div>            
                                    </form>
                                </div>

                                <div class="row">
                                    <div class="large-9 columns">
                                        <input id="currentAddressSameasBorn" type="checkbox">
                                        <label for="currentAddressSameasBorn">I currently live in the same place as where I was born</label>    
                                    </div>
                                </div>
                                <div class="row" ng-hide="currentAddressSameasBorn">
                                    <h3>Where do you currently live?</h3>
                                    <form>
                                        <div class="row">
                                            <div class="large-6 columns">
                                              <div class="row collapse prefix-radius">
                                                <div class="small-3 columns">
                                                  <span class="prefix">Country</span>
                                                </div>
                                                <div class="small-9 columns">
                                                  <input type="text" placeholder="Value">
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="large-6 columns">
                                              <div class="row collapse prefix-radius">
                                                <div class="small-3 columns">
                                                  <span class="prefix">Province/State</span>
                                                </div>
                                                <div class="small-9 columns">
                                                  <input type="text" placeholder="Value">
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="large-6 columns">
                                              <div class="row collapse prefix-radius">
                                                <div class="small-3 columns">
                                                  <span class="prefix">City</span>
                                                </div>
                                                <div class="small-9 columns">
                                                  <input type="text" placeholder="Value">
                                                </div>
                                              </div>
                                            </div>
                                        </div>            
                                    </form>
                                </div>
                                <div class="row">
                                    <a href="#upload-panel" class="tiny button" onclick="goToTab('#program-panel')">Next</a>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div ng-controller="WalkthroughController" class="content" id="walkthrough-panel">
                        <div class="row">
                            <div class="large-6 columns">
                                <ul class="left">
                                    <li ng-show="hasBack"><a class="tiny button" ng-click="changePage('left')">Back</a></li>
                                    <li>Step {{ currentPage + 1}} / {{ maxPages }}</li>
                                </ul>
                                <ul class="right">
                                    <li ng-show="hasNext"><a class="tiny button" ng-click="changePage('right')">Next</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                <div ng-include="templateUrl"></div>
                            </div>
                        </div>
                    </div>
                    <div class="content" id="program-panel">
                        <h1>program panel</h1>
                    </div>                    
                    <div class="content" id="upload-panel">
                        <h1>Upload Documents</h1>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="AnswerCardController" class="sb-slidebar sb-right sb-style-overlay sb-width-wide">
            <div class="watson-panel">
                <div class="row">
                    <div class="large-12 columns">
                        <h3>Ask Watson</h3>
                    </div>
                </div>
                <!--<div class="row collapse">-->
                    <!--<div class="large-12 columns large-centered">-->
                        <!--<div class="large-10 columns">-->
                           <!--<input class="contrajd-input-box" type="text" name="" placeholder="How do I immigrate to Canada?" ng-model="pickedSuggestion">-->
                        <!--</div>-->
                        <!--<div class="large-2 columns">-->
                            <!--<a ng-click="askWatson(pickedSuggestion)" href="javascript:void(0);" class="button postfix contrajd-ask">Ask</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <div class="row collapse contrajd-side-watson">
                    <div class="medium-10 columns">
                        <input class="contrajd-input-box ng-pristine ng-untouched ng-valid" type="text" name="" placeholder="How do I immigrate to Canada?" ng-model="pickedSuggestion">
                    </div>
                    <div class="medium-2 columns">
                        <input type="submit" href="#" class="postfix small button expand contrajd-ask" value="Ask" ng-click="askWatson(pickedSuggestion)">
                    </div>
                </div>
                <div class="row">
                    <div  class="large-12 columns">
                        <div ng-repeat="answer in answerCards" my-answers="answer"></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../static/js/vendor/jquery.js"></script>
        <script src="../static/js/foundation.min.js"></script>
        <script src="../static/js/vendor/slidebars.min.js"></script>
        <script src="../static/js/vendor/angular.js"></script>
        <script src="../static/js/ng_modules/answerCardController.js"></script>
        <script src="static/js/stepsApp.js"></script>
        <script src="static/js/walkthroughController.js"></script>
        <script>
            $(document).foundation();
            $.slidebars();
            var goToTab = function(tabId) {
              $('a[href=' + tabId + ']').click();                
            }
        </script>
    </body>
</html>
